@font-face {
  font-family: AvenirBook;
  src: local('AvenirBook'), url('../font/Avenir-Book.woff') format('woff');
}

@font-face {
  font-family: AvenirMedium;
  src: local('AvenirMedium'), url('../font/Avenir-Medium.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1140px;
}

button {
  &:hover {
    background: var(--light-red);
  }

  &:active {
    background: var(--darkRed);
  }

  &:disabled {
    background: var(--lightest1-grey);
  }
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

.active {
  p {
    color: var(--red);
  }

  .teamsImg {
    background: url('/assets/icon/teamsActive.png') no-repeat center;
  }

  .playersImg {
    background: url('/assets/icon/playersActive.png') no-repeat center;
  }
}

.teamsImg {
  width: 24px;
  height: 24px;
  background: url('/assets/icon/teams.png') no-repeat center;
}

.playersImg {
  width: 24px;
  height: 24px;
  background: url('/assets/icon/players.png') no-repeat center;
}
