:root {
  --grey: #707070;
  --lightGrey: #F6F6F6;
  --darkGrey: #303030;
  --lightestGrey: #D1D1D1;
  --blue: #344472;
  --red: #E4163A;
  --white:#FFFFFF;
  --lightBlue: #F5FBFF;
  --lightRed: #FF5761;
  --darkRed: #C60E2E;
  --lightestRed: #FF768E;



  --AvenirMedium: 'Avenir', sans-serif;
  --AvenirBook: 'Avenir', sans-serif;
}