:root {
  --grey: #707070;
  --light-grey: #f6f6f6;
  --dark-grey: #303030;
  --lightest-grey: #d1d1d1;
  --blue: #344472;
  --red: #e4163a;
  --white: #fff;
  --light-blue: #f5fbff;
  --light-red: #ff5761;
  --dark-red: #c60e2e;
  --lightest-red: #ff768e;
  --avenir-medium: 'AvenirMedium', sans-serif;
  --avenir-book: 'AvenirBook', sans-serif;
}
