.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;

  .teamCard {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    width: 30%;
    max-width: 365px;
    background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
    border-radius: 4px 4px 4px 4px;
    flex-direction: column;

    .mainCard {
      position: relative;
      padding-top: 65px;
      padding-bottom: 65px;
    }

    .teamInfo {
      padding: 24px 10px;
      width: 100%;
      max-width: 365px;
      text-align: center;
      background-color: var(--dark-grey);
      border-radius: 0 0 4px 4px;

      .teamName {
        font-size: 18px;
        font-family: var(--avenir-medium);
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        color: var(--white);
      }

      .teamBirthday {
        font-size: 13px;
        font-family: var(--avenir-medium);
        font-weight: 500;
        color: var(--light-grey);
        line-height: 18px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    .teamCard {
      .teamInfo {
        padding: 24px 10px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    .teamCard {
      width: 49%;

      .teamInfo {
        padding: 22px 11px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    .teamCard {
      width: 49%;

      .teamInfo {
        padding: 22px 11px;
      }
    }
  }
}

@media (max-width: 575px) {
  .wrapper {
    .teamCard {
      width: 49%;

      .mainCard {
        padding-top: 35px;
        padding-bottom: 25px;

        .teamImg {
          img {
            max-width: 50px;
          }
        }
      }

      .teamInfo {
        padding: 22px 11px;

        .teamName {
          font-size: 15px;
        }
      }
    }
  }
}
