
.inputBlock {
  //display: flex;
  //flex: 1;
  //height: 40px;
  //flex-direction: column;
  //width: 100%;
  //margin-bottom: 26px;


  label {
    margin-bottom: 5px;
    font-family: var(--AvenirMedium);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);

  }

  .inputWrap {
    display: flex;
    flex-direction: row;
    background: var(--lightGrey);
    border-radius: 4px;


  }

  input {
    background: var(--lightGrey);
    border-radius: 4px;
    font-family: var(--AvenirMedium);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--darkGrey);
    border: none;
    padding: 8px 12px;
    flex: 8;
    outline: none;


    &:hover {
      background: var(--lightestGrey);
      border: none;
    }

    &:focus {
      background: #F6F6F6;
      box-shadow: 0 0 5px #D9D9D9;
      border: none;
    }

    &:focus-visible {
      border: none;
    }

  }

  .disabled {
    background: #F6F6F6;
    border: none;
    pointer-events: none

  }

  .error {
    border: 1px solid #FF768E;
    border-radius: 4px;
  }

  span {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #FF768E;
    margin-top: 5px;
  }
}

.inputRadioBlock {
  display: flex;
  flex-direction: column;
  width: 100%;


  .inputRadioWrap {
    label{
      font-family: var(--AvenirMedium);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: var(--grey)
    }

    input {
      background: none;
      margin-right: 8px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background: var(--white);
        border: 1px solid var(--grey);
      }

    }

    input {
      &:hover:before {
        border: 1px solid var(--red);
      }
      &:disabled:before{
        border: 1px solid var(--lightestGrey);
      }
      &:checked:after{
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        border-radius: 2px;
        background: var(--grey);
      }
    }
  }
  .error{
    label{
      color: var(--lightRed)
    }
    input:before{
      border: 1px solid var(--red);
    }
  }
  .error+span{
    color: var(--lightestRed);
  }
}



.icon {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;

  &:hover {
    background: var(--lightestGrey);
    border: none;
  }
}

.formButton {
  font-family: var(--AvenirMedium);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  input {
    background: var(--red);
  }
}

