.wrap {
  display: flex;
  flex: 1;
}

.colLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3 2;

  h2 {
    font-family: var(--AvenirBook);
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
  }
}

.colLeftWrap {
  display: flex;
  flex-direction: column;
  padding: 0 120px;
  width: 100%;

}

.colRight {
  flex: 2 1;
  background: var(--lightBlue);
  height: 100vh;
  position: relative;

  &:before {
    content: '';
    background: url("../../assets/icon/authBg.png") no-repeat center;
    background-size: 80% auto;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .colLeft {
    flex: 1;
    justify-content: center;
  }
  .colRight {
    flex: 1;
  }
  .colLeftWrap {
    padding: 0;
    width: 60%;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .colLeft {
    flex: 2;
    justify-content: center;
  }
  .colRight {
    flex: 1;
  }
  .colLeftWrap {
    padding: 0;
    width: 50%;

  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .wrap{
    height: 100vh;
  }
  .colLeft{
    width: 80%;
    flex: 1;
    .colLeftWrap{
      width: 100%;
    }
  }
  .colRight {
    display: none;
  }
  .colLeftWrap {
    padding: 0;
    width: 50%;

  }
}

@media (max-width: 575px) {
  .wrap{
    height: 100vh;
  }
  .colLeft{
    width: 80%;
    flex: 1;
    .colLeftWrap{
      width: 100%;
    }
  }
  .colRight {
    display: none;
  }
  .colLeftWrap {
    padding: 0;
    width: 50%;

  }
}










